In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_QoiMO9B.csv')
sub = pd.read_csv('sample_submission_hSlSoT6.csv')
meal = pd.read_csv('meal_info.csv')
fulfil = pd.read_csv('fulfilment_center_info.csv')

train.shape, test.shape

((456548, 9), (32573, 8))

In [3]:
meal.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [4]:
train.head(3)

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189

In [5]:
fulfil.head(2)

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7

In [6]:
# join data --> meal and train then meal and test
train_meal = pd.merge(train, meal, how='left', on='meal_id')
test_meal = pd.merge(test, meal, how='left', on='meal_id')

print(train.shape, test.shape)

(456548, 9) (32573, 8)

In [7]:
train_mf = pd.merge(train_meal, fulfil, how='left', on='center_id')
test_mf = pd.merge(test_meal, fulfil, how='left', on='center_id')

In [8]:
print(train_mf.shape, test_mf.shape)

(456548, 15) (32573, 14)

In [9]:
train_mf.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,category,cuisine,city_code,region_code,center_type,op_area
0,1379560,1,55,1885,136.83,152.29,0,0,177,Beverages,Thai,647,56,TYPE_C,2.0
1,1466964,1,55,1993,136.83,135.83,0,0,270,Beverages,Thai,647,56,TYPE_C,2.0
2,1346989,1,55,2539,134.86,135.86,0,0,189,Beverages,Thai,647,56,TYPE_C,2.0
3,1338232,1,55,2139,339.50,437.53,0,0,54,Beverages,Indian,647,56,TYPE_C,2.0
4,1448490,1,55,2631,243.50,242.50,0,0,40,Beverages,Indian,647,56,TYPE_C,2.0

In [10]:
df = pd.concat([train_mf, test_mf], ignore_index=True, sort=False)
df.shape

(489121, 15)

In [11]:
df.nunique()

id                       489121
week                        155
center_id                    77
meal_id                      51
checkout_price             1995
base_price                 1931
emailer_for_promotion         2
homepage_featured             2
num_orders                 1250
category                     14
cuisine                       4
city_code                    51
region_code                   8
center_type                   3
op_area                      30
dtype: int64

${\textbf{Feature Engineering}}$

In [12]:
##################################### checkout_price ##############################################
##################################################################################################

df['week_checkout_price_mean'] = df.groupby('week')['checkout_price'].transform('mean')
df['week_checkout_price_std'] = df.groupby('week')['checkout_price'].transform('std')

df['center_id_checkout_price_mean'] = df.groupby('center_id')['checkout_price'].transform('mean')
df['center_id_checkout_price_std'] = df.groupby('center_id')['checkout_price'].transform('std')

df['meal_id_checkout_price_mean'] = df.groupby('meal_id')['checkout_price'].transform('mean')
df['meal_id_checkout_price_std'] = df.groupby('meal_id')['checkout_price'].transform('std')

df['category_checkout_price_mean'] = df.groupby('category')['checkout_price'].transform('mean')
df['category_checkout_price_std'] = df.groupby('category')['checkout_price'].transform('std')

df['cuisine_checkout_price_mean'] = df.groupby('cuisine')['checkout_price'].transform('mean')
df['cuisine_checkout_price_std'] = df.groupby('cuisine')['checkout_price'].transform('std')

df['city_code_checkout_price_mean'] = df.groupby('city_code')['checkout_price'].transform('mean')
df['city_code_checkout_price_std'] = df.groupby('city_code')['checkout_price'].transform('std')

df['region_code_checkout_price_mean'] = df.groupby('region_code')['checkout_price'].transform('mean')
df['region_code_checkout_price_std'] = df.groupby('region_code')['checkout_price'].transform('std')

df['center_type_checkout_price_mean'] = df.groupby('center_type')['checkout_price'].transform('mean')
df['center_type_checkout_price_std'] = df.groupby('center_type')['checkout_price'].transform('std')

df['op_area_checkout_price_mean'] = df.groupby('op_area')['checkout_price'].transform('mean')
df['op_area_checkout_price_std'] = df.groupby('op_area')['checkout_price'].transform('std')


##################################### base_price ##############################################
##################################################################################################

df['week_base_price_mean'] = df.groupby('week')['base_price'].transform('mean')
df['week_base_price_std'] = df.groupby('week')['base_price'].transform('std')

df['center_id_base_price_mean'] = df.groupby('center_id')['base_price'].transform('mean')
df['center_id_base_price_std'] = df.groupby('center_id')['base_price'].transform('std')

df['meal_id_base_price_mean'] = df.groupby('meal_id')['base_price'].transform('mean')
df['meal_id_base_price_std'] = df.groupby('meal_id')['base_price'].transform('std')

df['category_base_price_mean'] = df.groupby('category')['base_price'].transform('mean')
df['category_base_price_std'] = df.groupby('category')['base_price'].transform('std')

df['cuisine_base_price_mean'] = df.groupby('cuisine')['base_price'].transform('mean')
df['cuisine_base_price_std'] = df.groupby('cuisine')['base_price'].transform('std')

df['city_code_base_price_mean'] = df.groupby('city_code')['base_price'].transform('mean')
df['city_code_base_price_std'] = df.groupby('city_code')['base_price'].transform('std')

df['region_code_base_price_mean'] = df.groupby('region_code')['base_price'].transform('mean')
df['region_code_base_price_std'] = df.groupby('region_code')['base_price'].transform('std')

df['center_type_base_price_mean'] = df.groupby('center_type')['base_price'].transform('mean')
df['center_type_base_price_std'] = df.groupby('center_type')['base_price'].transform('std')

df['op_area_base_price_mean'] = df.groupby('op_area')['base_price'].transform('mean')
df['op_area_base_price_std'] = df.groupby('op_area')['base_price'].transform('std')

In [13]:
cat_feature_index = np.where(df.dtypes == object)[0]
cat_feature_index

array([ 9, 10, 13], dtype=int64)

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# ct =ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [9,10,13])], remainder='passthrough')
cols_to_dum = ['category', 'cuisine', 'center_type']
df = pd.get_dummies(columns=cols_to_dum, data=df)
df.shape

(489121, 69)

In [16]:
col_2_drop = ['id', 'week', 'center_id', 'meal_id']
df = df.drop(columns=col_2_drop, axis=1)
df.shape

(489121, 65)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_df = df[df['num_orders'].isna() == False]
test_df = df[df['num_orders'].isna() == True]
test_df.drop('num_orders', axis=1, inplace=True)

In [24]:
X = train_df.drop('num_orders', axis=1)
y = train_df['num_orders']

In [30]:
def rmsle(true, pred):
    from sklearn.metrics import mean_squared_error
    return np.sqrt(mean_squared_error(true, pred))

In [31]:
from catboost import CatBoostRegressor
from sklearn.model_selection import KFold, StratifiedKFold
err = []
y_pred_totcb = []
kfold = KFold(n_splits=5, random_state=101)
for train_index, test_index in kfold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]    
    
    m1 = CatBoostRegressor(iterations=5000, learning_rate=0.001, eval_metric='RMSE', random_state=110)
    m1.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_test, y_test)],
           early_stopping_rounds=300, verbose=500)
    preds = m1.predict(X_test)
    print('err:', rmsle(y_test, preds))
    err.append(rmsle(y_test, preds))
    p2 = m1.predict(tes)
    y_pred_totcb.append(p2)
np.mean(err)

0:	learn: 382.3927807	test: 382.3927807	test1: 445.1405089	best: 445.1405089 (0)	total: 129ms	remaining: 10m 44s
500:	learn: 314.6526349	test: 314.6526349	test1: 381.3842680	best: 381.3842680 (500)	total: 1m 10s	remaining: 10m 30s
1000:	learn: 276.0918943	test: 276.0918943	test1: 341.3661099	best: 341.3661099 (1000)	total: 2m 19s	remaining: 9m 16s
1500:	learn: 252.7852070	test: 252.7852070	test1: 315.1890756	best: 315.1890756 (1500)	total: 3m 16s	remaining: 7m 38s
2000:	learn: 238.8248731	test: 238.8248731	test1: 300.3772519	best: 300.3772519 (2000)	total: 4m 12s	remaining: 6m 18s
2500:	learn: 229.3530159	test: 229.3530159	test1: 291.1094776	best: 291.1094776 (2500)	total: 5m 3s	remaining: 5m 3s
3000:	learn: 222.2559081	test: 222.2559081	test1: 283.9358854	best: 283.9358854 (3000)	total: 5m 54s	remaining: 3m 56s
3500:	learn: 217.2074234	test: 217.2074234	test1: 279.7593138	best: 279.7593138 (3500)	total: 6m 45s	remaining: 2m 53s
4000:	learn: 213.1658279	test: 213.1658279	test1: 276.8041606	best: 276.8041606 (4000)	total: 7m 34s	remaining: 1m 53s
4500:	learn: 209.7658265	test: 209.7658265	test1: 274.2704898	best: 274.2704898 (4500)	total: 8m 24s	remaining: 56s
4999:	learn: 206.8512469	test: 206.8512469	test1: 272.0724637	best: 272.0724637 (4999)	total: 9m 13s	remaining: 0us

bestTest = 272.0724637
bestIteration = 4999

err: 272.07246367984953
0:	learn: 394.4000529	test: 394.4000529	test1: 401.1289579	best: 401.1289579 (0)	total: 150ms	remaining: 12m 27s
500:	learn: 324.3206223	test: 324.3206223	test1: 333.1973389	best: 333.1973389 (500)	total: 56.1s	remaining: 8m 23s
1000:	learn: 282.1999333	test: 282.1999333	test1: 295.9430712	best: 295.9430712 (1000)	total: 1m 52s	remaining: 7m 29s
1500:	learn: 256.9267627	test: 256.9267627	test1: 274.6786996	best: 274.6786996 (1500)	total: 2m 50s	remaining: 6m 36s
2000:	learn: 241.1299630	test: 241.1299630	test1: 261.1093253	best: 261.1093253 (2000)	total: 3m 47s	remaining: 5m 40s
2500:	learn: 230.6779800	test: 230.6779800	test1: 251.6064362	best: 251.6064362 (2500)	total: 4m 43s	remaining: 4m 43s
3000:	learn: 223.2921190	test: 223.2921190	test1: 244.6797200	best: 244.6797200 (3000)	total: 5m 41s	remaining: 3m 47s
3500:	learn: 217.9392799	test: 217.9392799	test1: 239.6990319	best: 239.6990319 (3500)	total: 6m 32s	remaining: 2m 48s
4000:	learn: 213.8435528	test: 213.8435528	test1: 235.8759304	best: 235.8759304 (4000)	total: 7m 23s	remaining: 1m 50s
4500:	learn: 210.1282940	test: 210.1282940	test1: 232.8493781	best: 232.8493781 (4500)	total: 8m 16s	remaining: 55.1s
4999:	learn: 206.9134312	test: 206.9134312	test1: 230.3424691	best: 230.3424691 (4999)	total: 9m 6s	remaining: 0us

bestTest = 230.3424691
bestIteration = 4999

err: 230.3424690596421
0:	learn: 397.7999407	test: 397.7999407	test1: 387.3971472	best: 387.3971472 (0)	total: 112ms	remaining: 9m 19s
500:	learn: 327.8754262	test: 327.8754262	test1: 323.8115674	best: 323.8115674 (500)	total: 52.6s	remaining: 7m 52s
1000:	learn: 285.1546163	test: 285.1546163	test1: 290.2181231	best: 290.2181231 (1000)	total: 1m 45s	remaining: 6m 59s
1500:	learn: 259.8738826	test: 259.8738826	test1: 270.0329886	best: 270.0329886 (1500)	total: 2m 37s	remaining: 6m 6s
2000:	learn: 244.2017937	test: 244.2017937	test1: 255.6269730	best: 255.6269730 (2000)	total: 3m 29s	remaining: 5m 14s
2500:	learn: 233.9527384	test: 233.9527384	test1: 245.9308359	best: 245.9308359 (2500)	total: 4m 21s	remaining: 4m 21s
3000:	learn: 226.6134201	test: 226.6134201	test1: 238.4764427	best: 238.4764427 (3000)	total: 5m 13s	remaining: 3m 28s
3500:	learn: 221.3022004	test: 221.3022004	test1: 233.7941033	best: 233.7941033 (3500)	total: 6m 4s	remaining: 2m 36s
4000:	learn: 217.1097462	test: 217.1097462	test1: 230.2233946	best: 230.2233946 (4000)	total: 6m 55s	remaining: 1m 43s
4500:	learn: 213.3878114	test: 213.3878114	test1: 227.2462079	best: 227.2462079 (4500)	total: 7m 46s	remaining: 51.8s
4999:	learn: 210.2430670	test: 210.2430670	test1: 224.5808767	best: 224.5808767 (4999)	total: 8m 38s	remaining: 0us

bestTest = 224.5808767
bestIteration = 4999

err: 224.5808767427774
0:	learn: 400.9289360	test: 400.9289360	test1: 374.2233033	best: 374.2233033 (0)	total: 115ms	remaining: 9m 32s
500:	learn: 330.7684960	test: 330.7684960	test1: 303.2727230	best: 303.2727230 (500)	total: 55.4s	remaining: 8m 17s
1000:	learn: 289.2083330	test: 289.2083330	test1: 265.2279985	best: 265.2279985 (1000)	total: 1m 50s	remaining: 7m 19s
1500:	learn: 263.6687411	test: 263.6687411	test1: 244.7237164	best: 244.7237164 (1500)	total: 2m 47s	remaining: 6m 30s
2000:	learn: 247.7777892	test: 247.7777892	test1: 232.3960296	best: 232.3960296 (2000)	total: 3m 42s	remaining: 5m 32s
2500:	learn: 237.5911491	test: 237.5911491	test1: 224.5823253	best: 224.5823253 (2500)	total: 4m 43s	remaining: 4m 43s
3000:	learn: 230.4482985	test: 230.4482985	test1: 219.4077394	best: 219.4077394 (3000)	total: 5m 44s	remaining: 3m 49s
3500:	learn: 225.4313439	test: 225.4313439	test1: 215.6021747	best: 215.6021747 (3500)	total: 6m 41s	remaining: 2m 52s
4000:	learn: 221.5434406	test: 221.5434406	test1: 212.5918118	best: 212.5918118 (4000)	total: 7m 37s	remaining: 1m 54s
4500:	learn: 217.9278825	test: 217.9278825	test1: 209.8654418	best: 209.8654418 (4500)	total: 8m 32s	remaining: 56.8s
4999:	learn: 214.7894455	test: 214.7894455	test1: 207.4857006	best: 207.4857006 (4999)	total: 9m 28s	remaining: 0us

bestTest = 207.4857006
bestIteration = 4999

err: 207.48570061188454
0:	learn: 402.7853914	test: 402.7853914	test1: 366.2487839	best: 366.2487839 (0)	total: 124ms	remaining: 10m 20s
500:	learn: 333.4167427	test: 333.4167427	test1: 299.3852973	best: 299.3852973 (500)	total: 58s	remaining: 8m 40s
1000:	learn: 291.6990244	test: 291.6990244	test1: 263.6564900	best: 263.6564900 (1000)	total: 1m 51s	remaining: 7m 24s
1500:	learn: 266.1176263	test: 266.1176263	test1: 243.5616999	best: 243.5616999 (1500)	total: 2m 48s	remaining: 6m 32s
2000:	learn: 250.4500115	test: 250.4500115	test1: 230.2101901	best: 230.2101901 (2000)	total: 3m 47s	remaining: 5m 41s
2500:	learn: 240.1753419	test: 240.1753419	test1: 221.5740530	best: 221.5740530 (2500)	total: 4m 44s	remaining: 4m 44s
3000:	learn: 232.7893194	test: 232.7893194	test1: 215.5739739	best: 215.5739739 (3000)	total: 5m 40s	remaining: 3m 47s
3500:	learn: 227.3500746	test: 227.3500746	test1: 211.1341026	best: 211.1341026 (3500)	total: 6m 36s	remaining: 2m 49s
4000:	learn: 222.8999732	test: 222.8999732	test1: 207.5778556	best: 207.5778556 (4000)	total: 7m 32s	remaining: 1m 53s
4500:	learn: 219.0578200	test: 219.0578200	test1: 204.7107430	best: 204.7107430 (4500)	total: 8m 28s	remaining: 56.4s
4999:	learn: 215.6446818	test: 215.6446818	test1: 202.3344961	best: 202.3344961 (4999)	total: 9m 23s	remaining: 0us

bestTest = 202.3344961
bestIteration = 4999

err: 202.33449606803342

227.3632012324374

In [33]:
predict1 = np.mean(y_pred_totcb, 0)

a = {'num_orders': predict1}

sub1 = pd.DataFrame(data=a)

In [34]:
sub['num_orders'] = sub1
sub.to_csv('sub1.csv', index=False)

In [35]:
sub.head()

        id  num_orders
0  1028232  207.283272
1  1127204  207.283272
2  1212707  207.283272
3  1082698  203.665146
4  1400926  203.665146